<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>memo</title>
</head>
<body>
  <a href='http://localhost:4567/memos/new'>新規作成</a><br>
  <% unless @files.nil? %>
    <% @files.each do |file| %>
      <% id, title, delete_flag = file.split(',') %>
      <% unless delete_flag == "true\n" %>
        <a href="<%= "http://localhost:4567/memos/show/#{id}" %>"> <%= title %> </a><br>
      <% end %>
    <% end %>
  <% end %>
</body>
</html>
