<div class="mid_box">
  <a href="/memos/new" class="button">新規作成</a><br>
  <% unless @memos.empty? %>
    <% @memos.each do |memo| %>
      <a href="<%= "/memos/#{memo[:id]}" %>"> ●<%= memo[:title] %> </a><br>
    <% end %>
  <% end %>
</div>
