<div class="mid_box">
  <a href="/memos/new" class="button">新規作成</a><br>
  <% unless @memos.nil? %>
    <% @memos.each do |memo| %>
      <% id, title = *memo %>
      <a href="<%= "/memos/#{id}/show" %>"> ●<%= title %> </a><br>
    <% end %>
  <% end %>
</div>
