<!DOCTYPE html>
<html lang='ja'>
<head>
  <meta charset='utf-8'>
  <title>新規作成</title>
</head>
<body>
  <form method='post' action="/memos/create">
  <label for='title'>タイトル</label><br>
  <input type='text' id='title' name='title'><br>
  <label for='title'>本文</label><br>
  <input type='text' id='content' name='content'><br>
  <input type='submit' value='送信'>
  </form>
</body>
</html>
