<form method='post' action="/memos/create">
  <label for='title'>タイトル</label><br>
  <input type='text' id='title' name='title'><br>
  <label for='title'>本文</label><br>
  <input type='text' id='content' name='content'><br>
  <input type='submit' value='送信'>
</form>
