<form method='post' action="/memos/create">
  <label for='title'>タイトル</label><br>
  <input type='text' id='title' name='title'><br>
  <label for='title'>本文</label><br>
  <textarea id='content' name='content'></textarea><br>
  <input type='submit' value='送信' class="button">
</form>
