<div class="mid_box">
<a href="/memos">戻る</a>
  <div class="title_area">
    <p class="title"><%= @title %></p>
  </div>
  <p class="display_new_line"><%= @content %></p>
  <div class="menu">
    <a href="/memos/<%= @id %>/edit" class="button">Edit</a>
    <form action="/memos/<%= @id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete" class="button">
    </form>
  </div>
<div>
